<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div class="row between-xs middle-xs header-row">
                <nav class="nav-header">
                    <a mat-button routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
                    <a mat-button routerLink="/products" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Product</a>
                    <a mat-button routerLink="/contact" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Contact</a>
                </nav>
                <a mat-raised-button matBadge="8" matBadgeColor="warn" >
                    <mat-icon>shopping_cart</mat-icon>
                    Shopping Cart
                </a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>