// .form-container {
//     margin: 0 auto;
//     text-align: center;
//     justify-content: center;
//     align-items: center;
//     align-self: auto;
//     align-content: center;
// }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// .form-container {
//     width: 100%;
//     padding-left: 300px;
//     padding-right: 300px;
// }

.shipping-card {
    padding: 50px 200px 50px 400px;
}

h2 {
    color: #3F51B5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 40px;
    margin-left: 50px;
}
