<mat-toolbar class="mat-tolbar-footer" color="primary">
    <mat-toolbar-row >
        <div class="container">
            <div class="row between-xs middle-xs footer-row footer-text">
                <div>
                    <p>Angular Store, Copyright 2021 © - Javier Morillo</p>
                </div>
                <div>
                    <a>
                        Do you want help? 
                        <mat-icon>contact_mail</mat-icon>
                    </a>
                </div>
            </div>
        </div>
    </mat-toolbar-row>
</mat-toolbar>