/* You can add global styles to this file, and also import other style files */
// * {
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
// }

.product-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 50px 20px;
}

.container {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.footer-container {
    width: 100%;
    background-color: #3F51B5;
    height: 200px;
}

@media (min-width: 576px) {
    
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .container {
        // max-width: 1110px;
        max-width: 1200px;
        padding-right: 0px;
        padding-left: 0px;
    }
}
.nav-header {
    margin-left: 30px;
}

@media (min-width: 768px) {
    .product-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1000px) {
    .product-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
